.card {
  cursor: pointer;
  background-color: rgb(231, 231, 231);
  border-radius: 15px;
  margin: 2rem 4rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0) 0px 3px 8px;
  padding: 2rem;
  transition: all 0.3s ease;
}
.card:hover {
  transform: scale(1.1);
}
.card_image {
  width: 200px;
  height: 150px;
}
.card_image img {
  width: 80%;
  height: 100%;
  /* object-fit: cover; */
}
.card_info {
  margin-top: 1rem;
}
.card_info h2 {
  /* margin-bottom: 10rem; */
  color: black;
}
.card_info h3 {
  color: #fd0e0e;
}
